<div class="cover__container">
    <div class="logo__cover__container">
        <img class="cover__logo" src="http://www.eurovoix.com/wp-content/uploads/2016/05/logo_logo.png" />
        <div class="login__signin__background">
        <h2>Forgot your password?</h2>

            
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
              </div>

              <div class="actions">
                <%= f.submit "Reset password", class: "bottom__log_sign__buttons"  %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>