
<div class="cover__container">
    <div class="logo__cover__container">
        <img class="cover__logo" src="http://www.eurovoix.com/wp-content/uploads/2016/05/logo_logo.png" />
        <div class="login__signin__background">
            <div class="cont_tabs_login">
                <div class='cover__buttons'>
                   <button class="top__log_sign__buttons button__inactive" 
                            onclick="window.location.href='/sessions/index'" disabled>
                        LOGIN
                    </button>
                    <button class="top__log_sign__buttons" 
                            onclick="window.location.href='/users/sign_up'">
                        REGISTER
                    </button>
                </div>
            </div>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= devise_error_messages!  %>
              <div>
                <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
              </div>
              <div>
                <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
              </div>
              <div class="actions">
                <%= f.submit "Sign In", class: "bottom__log_sign__buttons" %>
              </div>
              <% end %>
        </div>
    </div>
</div>