<!DOCTYPE html>
<html>
  <head>
    <title>Listo!</title>
     <link rel="icon" href="https://uploads-ssl.webflow.com/564c698e77bcae4a222a98f2/580663c8162e84a178a24daa_Icon-Check%20kopie.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Dosis|IBM+Plex+Mono|Mina|PT+Sans+Narrow|Quicksand|Montserrat:800i|Ubuntu:400" rel="stylesheet">
  </head>
  <body>
    <% if user_signed_in? %>
      <div>
        <%= button_to "Log out", destroy_user_session_path, 
                                method: :delete, 
                                class: 'top__log_sign__buttons header__logout_button ' %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>